body {
  font-size: 17px;
  font-family: arial;
  background: #f4f4f4;
  line-height: 1.5em;

}
header {
  background: #333;
  color:#fff;
  padding: 20px;
  text-align: center;
  border-bottom: 4px #0000 solid;
  margin-bottom: 10px;
}


#box {
  background: #333;
  color: #fff;
  width: 500px;
  height: 90px;
  padding: 40px;
  text-align: center;
}
#box2 {
  background-color: red;
  width: 100px;
  height: 100px;
  position: relative;
}
